<?xml version="1.0"?>
<launch>

<!-- Gazebo -->
    <include file="$(find gazebo_simulation_pkg)/launch/multi_turtlebot3_closeworld2.launch"></include>



<!-- Move_base -->
    <include file="$(find navigation_pkg)/launch/turtlebot3_navigation_test.launch"></include>

<!-- publisher della posa
    <node pkg="navigation_pkg" type="goal_publisher.py" name="goal_publisher" respawn="false"/>
-->
</launch>